<form (ngSubmit)="onSubmit(form.value)" [formGroup]="form" *ngIf="form">

  <app-default-input-layout label="Name" errorMessage="Please enter a valid name" [isDisplayingErrorMessage]="true">
    <input type="text" name="name" class="form-control" formControlName="name">
  </app-default-input-layout>

  <app-default-input-layout label="Start Date">
    <input name="startDate" type="text" placeholder="Datepicker" class="form-control" formControlName="startDate"
      bsDatepicker [bsConfig]="datePickerConfig">
  </app-default-input-layout>

  <app-default-input-layout label="End Date">
    <input name="endDate" type="text" placeholder="Datepicker" class="form-control" formControlName="endDate" bsDatepicker
      [bsConfig]="datePickerConfig">
  </app-default-input-layout>


  <app-submit-button [isDisabled]="!form.valid"></app-submit-button>
</form>