<app-title>Activities</app-title>
<div class="panel-body">
    <div class="row">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th class="text-center">Activities</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of activities$ | async;">
                <td>{{item.name}}</td>
                <td class="text-center">
                    <a class="link" [routerLink]="['/programs', item.id, 'activities']">
                        <i class="fa fa-cutlery text-warning"> </i>
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<div class="col-md-12">
    <pagination [totalItems]="(programs$ | async).length" [maxSize]="10"></pagination>
</div>
<!-- [(ngModel)]="currentPage" (pageChanged)="fetchUsers($event)" -->